body {
    font-family: Arial, sans-serif;
    background-color: #2b3945;
    color: #fff;
    margin: 0;
    padding: 0;
}
#takeBack-button {
    padding: 10px;
    background-color: #202c37;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #202c37;
}


header input, header select {
    padding: 10px;
    margin-left: 20px;
    border: none;
    border-radius: 5px;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 20px;
    padding: 20px;
}

#region-filter{
    background-color: #202c37;
    color: white;
}



.country {
    background-color: #4e5d6c;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.country img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.country-info {
    padding: 10px;
}

#country-details {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

#country-details img {
    width: 100%;
    height: auto;
    max-height: 300px;
    max-width: 500px;
    object-fit: cover;
}
#country-details p {
    margin: 5px 0;
}
.border-button {
    padding: 5px 10px;
    margin: 5px;
    background-color: #4e5d6c;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.items{
    padding-left: 10px;
    line-height: 20px;
}

